# Define the installation directories.
win32 {
  INSTALL_BIN_DIR = ./
  INSTALL_DATA_DIR = ./data
  INSTALL_DOCS_DIR = ./doc
  INSTALL_LIB_DIR = ./
  LIB_DIR = "/QTTRADER/plugins"
} else {
  INSTALL_BIN_DIR = /usr/local/bin
  INSTALL_DATA_DIR = /usr/local/share
  INSTALL_DOCS_DIR = /usr/local/share/doc
  INSTALL_LIB_DIR = /usr/local/lib
  LIB_DIR = "/QTTRADER/plugins"
}

# The "configure" script will automatically determine INCLUDEPATH and LIBS.
#
# However you can adjust or replace it using "+=" and "=" and "-=" operators.
# See http://doc.qt.nokia.com/latest/qmake-advanced-usage.html#operators
# Paths are separated by whitespace, or duplicate the configuration.
# For paths that contain whitespace:
# See http://doc.qt.nokia.com/latest/qmake-project-files.html#whitespace
#
# e.g. To configure some additional locations:
#
# INCLUDEPATH += /opt/local/include/ta-lib 
# LIBS += -L/opt/local/lib
# LIBS += -L/usr/local/qwt-5.2.1/lib

INCLUDEPATH += /usr/local/qwt-5.2.2/include
INCLUDEPATH += /usr/local/include/ta-lib 


LIBS += -L/usr/lib
LIBS += -L/usr/local/lib
LIBS += -L/usr/local/qwt-5.2.2/lib

